@{
    ViewData["Title"] = "Home Page";

}
@model MVC_test.Models.ListCurves
<div class="text-center container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <canvas id="myChart" width="100" height="50"></canvas>
</div>
<div id="listEntries">
    <div id="curve0">
            <label>
                X : <input id="X0" type="text" placeholder="X" />
            </label>
            <label>
                Y : <input id="Y0" type="text" placeholder="Y" />
            </label>
            <button class="btn btn-light" onclick="addCurve(this)">Tracer la courbe</button>
    </div>
</div>



<button class="btn btn-danger" onclick="duplicate()">Ajouter une courbe</button>
